<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boo.mapper.MenuMapper">

    <select id="getMenuList" resultType="java.lang.String">
        SELECT DISTINCT perms
        FROM
            sys_user_role
                LEFT JOIN sys_role
                          ON sys_user_role.role_id = sys_role.id
                LEFT JOIN sys_role_menu
                          ON sys_user_role.role_id = sys_role_menu.role_id
                LEFT JOIN sys_menu
                          ON sys_menu.id = sys_role_menu.menu_id
        WHERE user_id = #{userId}
          AND sys_role.status = 0
          AND sys_menu.status = 1;
    </select>
    <select id="getRoleList" resultType="java.lang.String">
        SELECT CONCAT('ROLE_', role_key) AS role
        FROM sys_user,
             sys_user_role,
             sys_role
        WHERE sys_user.`id` = sys_user_role.`user_id`
          AND sys_user_role.`role_id` = sys_role.`id`
          AND sys_user.`id` = #{userId};
    </select>
</mapper>