<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boo.mapper.PdSkuMapper">

    <select id="getUidByPid" resultType="java.lang.Integer">
        SELECT DISTINCT
            sys_merchant.`uid`
        FROM
            t_prod,
            sys_merchant
        WHERE t_prod.`mid` = sys_merchant.`id`
          AND t_prod.`id` = #{pid}
    </select>
</mapper>
